.main{
    
    &__search{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .main__title{
            color: white;
            font-size: 2.5rem;
            margin-bottom: 30px;
        }
    
        .main__input{
            background-color: rgba(255, 255, 255, 0.1);
            border: 2px solid white;
            border-radius: 25px;
            height: 5rem;
            padding: 0 20px;
            width: 70%;
            outline: none;
        }
        ::placeholder{
            color:white;
        }
        
    }

    &__category{
       margin: 0 15px;

        .categoria{
            overflow-x: scroll;
            padding: 70px 0px;
            position: relative;
            scroll-behavior: smooth;
            display: flex;
            flex-direction: column;

            &__title{
                margin-bottom: 30px;
                font-size: 2rem;
            }

            .carousel__container{
                // padding-bottom: 10px;
                display: flex;
        
                &:hover {
                    .carousel-item{
                        opacity: 0.3;
                    }
        
                    .carousel-item:hover{
                        opacity: 1;
                        transform: scale(1.5);
                    }
    
                }
               
                .carousel-item{
                    min-width: 200px;
                    height: 250px;
                    border-radius: 20px;
                    background: peru;
                    // background: url(https://www.fundacion-affinity.org/sites/default/files/el-gato-necesita-tener-acceso-al-exterior.jpg) center/cover no-repeat;
                    margin-right: 10px;
                    cursor: pointer;
                    transition: 450ms all;
                    transform-origin: center left;
                    overflow: hidden;
                    position: relative;
                    
    
                 
                    &:last-child{
                        transform-origin: center right;
                    }
                   
                    &:hover{
                        
                        .carousel-item__details{
                            opacity: 1;
                        }
                        
                    }
            
                    &:hover ~ .carousel-item{
                        transform: translateX(100px);
                        opacity: 0.3;
                    }
                    
                    &__img{
                        object-fit:cover;
                        width: 200px;
                        height: 250px;
                        
                    } 
                    
                    &__details{
                        bottom: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        position: absolute;
                        inset: 0 0 0 0 ;
                        background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
                        padding: 10px 10px;
                        opacity: 0;
                        transition: 450ms opacity;
                        
            
                        .icons {
                            display: flex;

                            &__icon{
                                width:20px;
                                height: 20px;

                                &--play{
                                    background: url("../assets/play-icon.png")center/cover no-repeat;
                                    margin-right:5px ;
                                }

                                &--plus{
                                    background: url("../assets/plus-icon.png")center/cover no-repeat;

                                }

                            }
                            
                        }
            
                        .title{
                            font-size: 1.6rem;
                            margin: 3px 0;
                        }
                        .subtitle{
                            font-size: 1rem;
                        }
                        
                    }
            
                    
            
                  
                }
    
            }
            
            &__buttons{
                display: flex;
                
                
                .categoria__button{
                    position: absolute;
                    bottom: 70px;
                    width: 50px;
                    height: 250px;
                    cursor: pointer;
                    display: flex;               
                    align-items: center;
                    background: url(../assets/play-icon.png) center/contain no-repeat;

                    &-left{
                        transform: scaleX(-1);
                    }
                    &-right{
                        right: 0;
                    }
                }
            }

        }


        
    }

    .moveLeft{
        transform:translateX(-100px)
    }

    

}


