.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 5px rgba(59, 57, 57, 0.8);
  padding: 0 10px 0 10px;
}
.header .header__logo {
  width: 180px;
}
.header .header__menu {
  font-size: 1.6rem;
  margin-right: 20px;
  cursor: pointer;
}
.header .header__menu:hover > .menu--list {
  visibility: visible;
  opacity: 1;
  transform: translateY(2px);
}
.header .header__menu .menu--profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .header__menu .menu--profile .profile-img {
  width: 40px;
}
.header .header__menu .menu--profile .profile-text {
  margin-left: 10px;
}
.header .header__menu .menu--profile:hover.menu--list {
  visibility: visible;
  opacity: 1;
}
.header .header__menu .menu--list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  list-style: none;
  text-align: right;
  width: 100px;
  padding: 5px 10px;
  background-color: #8f57fd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(59, 57, 57, 0.8);
  transition: all 0.5s;
  transform: translateY(-20px);
}
.header .header__menu .menu--list .list__item {
  padding: 5px 0;
  border-bottom: 1px solid;
}
.header .header__menu .menu--list .list__item a {
  text-decoration: none;
  color: white;
}
.header .header__menu .menu--list .list__item:last-of-type {
  font-size: 1.3rem;
  border: 0;
}

.main__search {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__search .main__title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.main__search .main__input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  height: 5rem;
  padding: 0 20px;
  width: 70%;
  outline: none;
}
.main__search ::placeholder {
  color: white;
}
.main__category {
  margin: 0 15px;
  position: relative;
}
.main__category .categoria__title {
  font-size: 2rem;
}
.main__category .categoria__carousel {
  overflow-x: scroll;
  padding: 50px 0px;
  position: relative;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}
.main__category .categoria__carousel .carousel__container {
  display: flex;
}
.main__category .categoria__carousel .carousel__container:hover .carousel-item {
  opacity: 0.3;
}
.main__category .categoria__carousel .carousel__container:hover .carousel-item:hover {
  opacity: 1;
  transform: scale(1.3);
}
.main__category .categoria__carousel .carousel__container .carousel-item {
  min-width: 200px;
  height: 250px;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  overflow: hidden;
  position: relative;
}
.main__category .categoria__carousel .carousel__container .carousel-item:last-child {
  transform-origin: center right;
}
.main__category .categoria__carousel .carousel__container .carousel-item:hover .carousel-item__details {
  opacity: 1;
}
.main__category .categoria__carousel .carousel__container .carousel-item:hover ~ .carousel-item {
  transform: translateX(60px);
  opacity: 0.3;
}
.main__category .categoria__carousel .carousel__container .carousel-item__img {
  object-fit: cover;
  width: 200px;
  height: 250px;
}
.main__category .categoria__carousel .carousel__container .carousel-item__details {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  inset: 0 0 0 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 10px 10px;
  opacity: 0;
  transition: 450ms opacity;
}
.main__category .categoria__carousel .carousel__container .carousel-item__details .icons {
  display: flex;
}
.main__category .categoria__carousel .carousel__container .carousel-item__details .icons__icon {
  width: 20px;
  height: 20px;
}
.main__category .categoria__carousel .carousel__container .carousel-item__details .icons__icon--play {
  background: url("../assets/play-icon.png") center/cover no-repeat;
  margin-right: 5px;
}
.main__category .categoria__carousel .carousel__container .carousel-item__details .icons__icon--plus {
  background: url("../assets/plus-icon.png") center/cover no-repeat;
}
.main__category .categoria__carousel .carousel__container .carousel-item__details .title {
  font-size: 1.6rem;
  margin: 3px 0;
}
.main__category .categoria__carousel .carousel__container .carousel-item__details .subtitle {
  font-size: 1rem;
}
.main__category .categoria__buttons {
  display: flex;
}
.main__category .categoria__buttons .categoria__button {
  position: absolute;
  top: 73px;
  width: 50px;
  height: 250px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: url(../assets/play-icon.png) center/contain no-repeat;
}
.main__category .categoria__buttons .categoria__button-left {
  transform: scaleX(-1);
}
.main__category .categoria__buttons .categoria__button-right {
  right: 0;
}
.main .moveLeft {
  transform: translateX(-60px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.contenedor {
  background-color: #AB88FF;
  color: white;
  font-family: "Muli", sans-serif;
}

@media (max-width: 425px) {
  .main__category .categoria .categoria__buttons {
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
